apiVersion: apps/v1
kind: Deployment
metadata:
  name: kafka-strimzi-consumer
  labels:
    app: kafka-strimzi-consumer
spec:
  selector:
    matchLabels:
      app: kafka-strimzi-consumer
  template:
    metadata:
      labels:
        app: kafka-strimzi-consumer
    spec:
      containers:
      - name: kafka-strimzi-consumer
        image: ghcr.io/kedify/sample-kafka-app:latest
        imagePullPolicy: IfNotPresent
        securityContext:
          allowPrivilegeEscalation: false
          runAsNonRoot: true
          capabilities:
            drop:
              - ALL
          seccompProfile:
            type: RuntimeDefault
        env:
          - name: BOOTSTRAP_SERVERS
            value: my-cluster-kafka-bootstrap.kafka.svc:9092
        resources:
            requests:
              cpu: 50m
              memory: 50Mi
            limits:
              cpu: 200m
              memory: 200Mi
        command:
        - /kafkaconsumerapp
