apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: ${CA}
    server: ${CLUSTER_SERVER}
  name: gpu-enabled-cluster
contexts:
- context:
    cluster: gpu-enabled-cluster
    user: anonymous
  name: gpu-enabled-cluster
current-context: gpu-enabled-cluster
kind: Config
users:
- name: anonymous
  user:
    token: ${SECRET_TOKEN}
