apiVersion: keda.sh/v1alpha1
kind: ScaledObject
metadata:
  name: work-simulator-scaledobject
  namespace: default
spec:
  scaleTargetRef:
    kind: Deployment
    name: work-simulator
  pollingInterval: 5
  minReplicaCount: 1
  maxReplicaCount: 10
  advanced:
    restoreToOriginalReplicaCount: true
    horizontalPodAutoscalerConfig:
      behavior:
        scaleDown:
          stabilizationWindowSeconds: 5
  triggers:
    # was type: prometheus
    - type: kedify-otel
      metadata:
        # was serverAddress: http://kube-prometheus-stack-prometheus.monitoring.svc.cluster.local:9090
        scalerAddress: kedify-otel.keda.svc:4318
        
        # was query: .., the PromQL query itself is the same
        metricQuery: sum(work_simulator_inprogress_tasks{job="work-simulator"})
        
        # was threshold: "5"
        targetValue: "5"
