@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
  --scrollbar: #444;
  --scrollbar-hover: #555;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track (the long bar in the background) */
::-webkit-scrollbar-track {
  background: var(--background-start-rgb);
}

/* Handle (the short bar) */
::-webkit-scrollbar-thumb {
  background: var(--scrollbar);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-hover);
}

/*********** Baseline, reset styles ***********/
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 25rem;
}

/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  background-color: #34ace3;
  border-radius: 2.5rem;
  height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -8px; /* Centers thumb on the track */
  background-color: #000000;
  outline: 3px solid #34ace3;
  border-radius: 0.5rem;
  height: 1.3rem;
  width: 1.3rem;
}

input[type="range"]:focus::-webkit-slider-thumb {
  outline: 4px solid #34ace3;
}

/*********** Firefox styles ***********/
/* slider track */
input[type="range"]::-moz-range-track {
  background-color: #041d50;
  border-radius: 2.5rem;
  height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
  background-color: #a3a3a3;
  border: none; /*Removes extra border that FF applies*/
  border-radius: 2rem;
  height: 1.5rem;
  width: 1.5rem;
}

input[type="range"]:focus::-moz-range-thumb{
  outline: 3px solid #a3a3a3;
  outline-offset: 0.125rem;
}

.prompt {
  border: 2px solid #34ace3;
}

.generate {
  border: 2px solid #ffffff;
}

.generate:hover {
  background-color: #34ace3;
  border: 2px solid #ffffff;
}

*:focus {
  outline: none;
}
